body {
	margin: 0px auto;
	padding: 0px;
	background: #fafafa;
}
.tc {
	text-align: center;
}
.pt5 {
	padding-top: 5px;
}
a {
	color: #666;
	text-decoration: none;
}
.row {
	margin: 0px auto;
}
.wrapper {
	background-color: #e7e7e7;
	padding: 5px;
	margin-top: 10px;
}
.box {
	border: 1px solid #ccc;
	margin: 1px;
	background-color: #FFF;
}
.title {
	margin: 0px 0px 0px 0px;
	padding: 0 12px;
	font-weight: normal;
	font-size: 25px;
	line-height: 40px;
	border: 1px solid #FFF;
	border-bottom: 1px solid #e3dddc;
	background-color: #f7f7f7;
}
.title a{
	color: #000000;
}
.title a:hover{
    text-decoration: underline;
}

.pic_txt_list{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.pic_txt_list .pic{
	margin: 2vw;
}
.pic_txt_list .pic img {
	background-color: #FFF;
	padding: 2px;
	border: 1px solid #CCC;
}
.wenZi{
	margin-top: 3vw;
}
.pic_txt_list p {
	margin: 0px;
	padding: 0px;
	color: #666;
	line-height: 22px;
}
.pic_txt_list p span {
	color: #666;
	margin-right: 2px;
}

.footer {
	clear: both;
	border-top: 1px solid #CCC;
	color: #999;
	background: #ececec;
	padding: 0px;
	margin: 0px;
}
.footer p {
	padding: 15px;
	margin: 0px;
}
.footer a:hover {
	text-decoration: underline;
}

.muLuAll{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-evenly;
}
.muLu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.chapter{
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.chapter p{
	margin: 10px;
}
.chapter a:hover{
    text-decoration: underline;
}
.picZhi img {
	background-color: #FFF;
	padding: 2px;
	border: 1px solid #CCC;
}
.picHeng img {
	background-color: #FFF;
	padding: 2px;
	border: 1px solid #CCC;
}
/*手機*/
@media screen and (max-width: 1024px) {
	.pic_txt_list .pic img {
		width: 40vw;
	}
	.picZhi img {
		width: 30vw;
	}
	.picHeng img {
		width: 40vw;
	}
}
/*電腦*/
@media screen and (min-width: 1024px) {
	.row {
		width: 1024px;
	}
	.pic_txt_list .pic img {
		width: 20vw;
	}
	.picZhi img {
		width: 15vw;
	}
	.picHeng img {
		width: 20vw;
	}
}
