body{
  margin: 0px;
  width: 99vw;
  height: 100vh;
}

header{
  padding-top: 5px;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  background: #DDDDDD;
  width: 94vw;
  height: 30px;
  line-height: 30px;
}

/* 顏色按鈕 */
.background{
  width: 57vw;
  float: left;
  text-align: center;
}
.white{
  width: 5vw;
  height: 18px;
  border: 1px solid black;
  background:#FFFFFF;
  cursor: pointer;
}
.green{
  width: 5vw;
  height: 18px;
  border: 1px solid black;
  background:#F3FDEC;
  cursor: pointer;
}
.blue{
  width: 5vw;
  height: 18px;
  border: 1px solid black;
  background:#E9F4FC;
  cursor: pointer;
}
.gray{
  width: 5vw;
  height: 18px;
  border: 1px solid black;
  background:#dddddd;
  cursor: pointer;
}
.black{
  width: 5vw;
  height: 18px;
  border: 1px solid black;
  background:#2C313C;
  cursor: pointer;
}

/* 文字效果 */
.fontSize{
  width: 37vw;
  float: right;
  text-align: center;
}
.big,.small{
  width: 5vw;
  cursor: pointer;
  text-align: center;
  padding: 1px;
}

article{
  margin: 0px;
  padding: 3vw;
  padding-top: 1vw;
  background: #FFFFFF;
  width: 93vw;
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a{
  text-decoration: none;
  color: gray;
}
a:hover{
  text-decoration: underline;
}

.story{
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 16px;
}
.part{
  padding: 10px;
  line-height: 30px;
}

.title{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 45px;
}
.weakLR{
  border: 0px;
  height: 10px;
  width: 100%;
  background-image: linear-gradient(to right, transparent, #DDDDDD, transparent);
}

.picPeoPle, .picOther{
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}
.picPeoPle img{
	width: 200px;
	background-color: #FFF;
	padding: 2px;
	border: 1px solid #CCC;
}
.picOther img{
  width: 400px;
}
.picMap{
  text-align: center;
}
.picZhi img, .picMap img, .picOther img{
	background-color: #FFF;
	padding: 2px;
	border: 1px solid #CCC;
}

.character{
  margin-bottom: 5vw;
  display: flex;
}
.discription{
  margin-top: 2vw;
  line-height: 30px;
}
.weakR {
  border: 0px;
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #DDDDDD, #DDDDDD, transparent);
}

footer
{
  margin: 0vw;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 89vw;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 25px;
  background: #DDDDDD;
  display: flex;
  justify-content: center;
}
.lastChapter, .content, .nextChapter{
  width: 20vw;
  height: 30px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 5px;
  text-align: center;
  line-height: 25px;
  background: #FFFFFF;
  cursor: pointer;
}

@media screen and (min-width: 1024px){
  .picMap img{
    width: 30vw;
  }
  .picZhi{
    padding-left: 30px;
    float: right;
  }
  .picZhi img{
    width: 25vw;
  }
  .picOther img{
    width: 40vw;
  }

  .character{
    align-items: stretch;
  }
}

@media screen and (max-width: 1024px){
  .picMap img{
    width: 80vw;
  }
  .picZhi{
    padding-bottom: 20px;
    text-align: center;
  }
  .picZhi img{
    width: 80vw;
  }
  .picOther img{
    width: 80vw;
  }

  .character{
    flex-direction: column;
  }
}
