body{
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper{
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  text-align: center;
}

.bookAll{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.book{
  margin: 2vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.cover img {
  background-color: #FFF;
  padding: 2px;
  border: 1px solid #CCC;
}

.footer {
	border-top: 1px solid #CCC;
	color: #999;
	background: #ececec;
	padding: 15px;
	margin: 0px;
  bottom: 0;
}
.footer a {
	color: #666;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
.cc {
	padding: 10px;
	color: #666;
	text-align: center;
}
.tc {
	text-align: center;
}

.clear{
  height: 50px;
}

@media screen and (min-width: 1024px){
  .cover img {
    width: 10vw;
  }
}

@media screen and (max-width: 1024px){
  .cover img {
    width: 50vw;
  }
}
